* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;

}

.nav {
    height: 60px;
    background-color: #474747;
    text-align: center;
}

.link {
    font-size: 18px;
    line-height: 60px;
    color: #F13B02;
    margin: 0 25px;
    text-decoration: none;
}

.main {
    height: 640px;
    padding-top: 80px;
    padding-left: 288px;
    background-color: #82C2E4;
    background-image: url(../images/wind-turbines.jpg);
    background-repeat: no-repeat;
    background-position: bottom;

}

.title {
    font-size: 36px;
    line-height: 72px;
    color: #353535;
    margin: 0;

}

.subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #353535;
    margin: 0;
    padding-bottom: 22px;
}

.order {
    padding: 9px 24px;
    font-size: 16px;
    line-height: 21px;
    color: #F13B02;
    margin: 0;
    text-decoration: none;
    border: 2px solid #F13B02;
    border-radius: 8px;


}



.form {
    background-color: #474747;
    background-position: top;
    padding-top: 16px;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #C4C4C4;
 

}

.weigh{
    margin: 0 auto;
    width: 40%;
   }

.form2 {
    margin-top: 8px;
    width: 571px;
    height: 39px;
    display: block;
    background: #C4C4C4;
    border: 2px solid #F13B02;
    border-radius: 8px;

}

.form4 {
    margin-top: 8px;
    width: 571px;
    height: 183px;
    display: block;
    background: #C4C4C4;
    border: 2px solid #F13B02;
    border-radius: 8px;
    resize: none;

}


.button {
    margin-top: 16px;
    margin-bottom: 32px;
    width: 128px;
    height: 39px;
    background: #F13B02;
    border: 2px solid #F13B02;
    border-radius: 8px
}

.button2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #353535;
}

.end {
    height: 30px;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5px;
}

